body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.my-name {
    color: orange;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

.flex-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    padding-left: 4%;
    width: 50%;
}

.half-width img {
    width: 80%;
}

.img-border {
    border-radius: 150px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding-bottom: 15px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#web-exp {
    border-left: 10px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
}

#web-exp-2 {
    border-left: 10px solid;
    border-image: linear-gradient(green, blue);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}